h1,h2 {
    color:black;
    margin-Left:30px;
    padding: 30px;
}
.heading{
  
    justify-content: center;
    text-align: center;
}
.heading *{
    border:solid;
    
        }

body{
    background-image: url('bg.jpg' );
    background-repeat: no-repeat;
        background-size: cover;
        
}
.item{
    align-items: center;
    justify-content: center;
    display:flex;
    flex-wrap:wrap;
}
.description{
    margin: 30px;
    padding: 30px;
    border-style: groove;
   display:flex;  
 flex-direction:column ;
   justify-content: first baseline;
}

h3{
    text-align: center;
    color: red;
}
p{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    text-align: start;
    color: brown;
}
.snack{
    margin: 30px;
    padding: 30px;
    border-style: groove;
   display:flex;  
 flex-direction:column ;
   justify-content: first baseline;
}